<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/index.js">
    </script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <h1>내 주변 서비스 확인하기</h1>

    <div id="wrapper">
        <select name="please" id="gu">
            <option value="0">구 선택</option>
        </select>
    </div>

    <div id = 'map'>
    </div>

    <table id="result">

    </table>

</body>
</html>