<!doctype html>
<html>
    <head>
    <title>1조는 1인분 하조</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_main.css' %}" type="text/css" media="screen">
    </head>
    <body>
        
        <div class="wrapper">
            <h1 class="title">반려동물 시설 정보 서비스</h1>
            <ul class="main">
                <li class="item nearby" style="background-color: antiquewhite"><a href="/index"  style="color: orangered">
                    <img class="item-cover" src="/static/img/img1.jpg">
                    <div class="item-contents">
                        <h2>근처 서비스</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                    </a></div>
                </li>
                <li class="item town"><a href="menu.html" style="color: pink">
                    <img class="item-cover" src="/static/img/img1-2.jpg">
                    <div class="item-contents">
                        <h2>자치구별 정보</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                    </div> </a>
                </li>
                <li class="item topic"><a href="/score" style="color: yellow">
                    <img class="item-cover" src="/static/img/us.jpg">
                    <div class="item-contents">
                        <h2>About Topic</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
                    </div>
                </a></li>
                </a>
            </ul>
        </div>

    </body>
</html>
