<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width: 80%;
            height: 80%
        }
    </style>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function(){
            // $.ajax({
            //     url: "/get_business/",
            //     dataType: "json",
            //     success: function(msg){
            //         var msgKeys = Object.keys(msg)
            //         var msgValues = Object.values(msg)[0]
            //         var $business = $("#business")

            //         for (var i=0; i<msgValues.length; i++){
            //             $business.append($("<span>").val(msgValues[i]).prop("class","businesslist").text(msgValues[i]))
            //             $business.append($("<br>"))
            //         }
            //     }

            // })
        // businesslist descendant 중에 trigger 할 element 선정하는게 두번째 argument
        $(".businesslist").click(function(){
            business_name = $(this).val()
            // alert('제발')
            drawMap(business_name)
        })
    })

    function drawMap(business_name){
        $.ajax({
            url: "draw_map/",
            dataType:"json",
            data:{"business_name":business_name},
            success: function(msg){
                // 누르면 띄워주기
                $('#map').append({{ msg }})
            }


        })
    }


    </script>
</head>
<body>
    
    <div id='map'>
        {{ my_loc|safe }}

    </div>

    <div id="business">
        <span class="businesslist">반려견놀이터</span>
        <br>
        <span class="businesslist">반려동물교육센터</span>
        <br>
        <span class="businesslist">애견동반카페</span>
        <br>
        <span class="businesslist">애견미용실</span>
        <br>
        <span class="businesslist">애견유치원</span>
        <br>
        <span class="businesslist">애견카페</span>
        <br>
        <span class="businesslist">애견호텔</span>
        <br>
        <span class="businesslist">애견동반식당</span>
        <br>
        <span class="businesslist">애완용품점</span>
        <br>
    </div>

    <form action="."method="post">{% csrf_token %}
        <input type="checkbox" value = '강남구' name = '강남구'>구로구
        <input type="checkbox" value = 'pet_cafe' name = 'pet_cafe'>애견카페
        <input type="submit" value="check">조회
    </form>


</body>
</html>