<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div id="wrap">
        <a href="#" class="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div id="menu_round"></div>
</div>

<script src="menu1.js"></script>
</body>
</html>