<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="menu.css">
    <meta charset="UTF-8">
    <title>좌측 토글 사이드 바 만들기</title>
</head>

<body>
    <div class="left-side-bar">
        <div class="status-ico">
            <span>▶</span>
            <span>▼</span>
        </div>

        <ul>
            <li>
                <a href="#">우리동네 서비스 찾기</a>
            </li>
            <h4> << 행정 구역별 정보 >> </h4>
            <li>
                <a href="#"> ㄱ </a>
                <ul>
                    <li><a href="#">강남구</a></li>
                    <li><a href="#">강동구</a></li>
                    <li><a href="#">강서구</a></li>
                    <li><a href="#">강북구</a></li>
                    <li><a href="#">관악구</a></li>
                    <li><a href="#">구로구</a></li>
                    <li><a href="#">금천구</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> ㄴ, ㄷ, ㅁ</a>
                <ul>
                    <li><a href="#">노원구</a></li>
                    <li><a href="#">동대문구</a></li>
                    <li><a href="#">도봉구</a></li>
                    <li><a href="#">동작구</a></li>
                    <li><a href="#">마포구</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> ㅅ </a>
                <ul>
                    <li><a href="#">서대문구</a></li>
                    <li><a href="#">서초구</a></li>
                    <li><a href="#">성동구</a></li>
                    <li><a href="#">성북구</a></li>
                    <li><a href="#">송파구</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> ㅇ </a>
                <ul>
                    
                    <li><a href="#">양천구</a></li>
                    <li><a href="#">영등포구</a></li>
                    <li><a href="#">용산구</a></li>
                    <li><a href="#">은평구</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> ㅈ </a>
                <ul>
                    <li><a href="#">종로구</a></li>
                    <li><a href="#">중구</a></li>
                    <li><a href="#">중랑구</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>