<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/score.js"></script>
</head>
<body>
    <div class="mapgraph">

    </div>
    <div class="container">
        <img src="{% static 'img/iamhungry.png' %}" alt="이게 보이면 아니되어요">
<!--        <img src="data:image/png;base64, {{ data }}" alt="그래프 보일곳">-->
    </div>
    <span id="pet_garden" class="bs">pet_garden</span>
    <br> 
    <span id="pet_cafe" class="bs">pet_cafe</span>
    <br> 
    <span id="pet_city_park" class="bs">pet_city_park</span>
    <br> 
    <span id="pet_education_center" class="bs">pet_education_center</span>
    <br> 
    <span id="pet_hospital" class="bs">여기 수정!!!!!!!!</span>
    <br>
    <span id="pet_hotel" class="bs">pet_hotel</span>
    <br> 
    <span id="pet_medical" class="bs">pet_medical</span>
    <br> 
    <span id="pet_playground" class="bs">pet_playground</span>
    <br> 
    <span id="pet_salon" class="bs">pet_salon</span>
    <br> 
    <span id="pet_store" class="bs">pet_store</span>
    <br>
    <span id="pet_together_cafe" class="bs">pet_together_cafe</span>
    <br> 
    <span id="pet_together_diner" class="bs">pet_together_diner</span>

    <div id="">
        <!--여기미완성!-->
        <a href="/getPie"><img src="data:image/png;base64, {{ data }}" alt="그래프 보일곳"></a>
        <span id="pie"></span>
    </div>
</body>
</html>