<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=edd9d5b2b096d9719de5b3ad246eea5b"></script>
    <script src="{% static 'score.js' %}"></script>
</head>
<body>
    <div>
        <p>
            <b>Chrome 브라우저는 https 환경에서만 geolocation을 지원합니다.</b> 참고해주세요.
        </p>
        <h1>내 위치 : </h1>
    </div>
    <div class="mapgraph">
        {{ my_loc|safe }}
    </div>
    <div class="container">
    </div>
    <span id="pet_garden" class="bs">pet_garden</span>
    <br>
    <span id="pet_cafe" class="bs">pet_cafe</span>
    <br>
    <span id="pet_city_park" class="bs">pet_city_park</span>
    <br>
    <span id="pet_education_center" class="bs">pet_education_center</span>
    <br>
    <span id="pet_hospital" class="bs">pet_hospital</span>
    <br>
    <span id="pet_hotel" class="bs">pet_hotel</span>
    <br>
    <span id="pet_medical" class="bs">pet_medical</span>
    <br>
    <span id="pet_playground" class="bs">pet_playground</span>
    <br>
    <span id="pet_salon" class="bs">pet_salon</span>
    <br>
    <span id="pet_store" class="bs">pet_store</span>
    <br>
    <span id="pet_together_cafe" class="bs">pet_together_cafe</span>
    <br>
    <span id="pet_together_diner" class="bs">pet_together_diner</span>

    <div id="pie">
        <img src="data:image/png;base64,{{ my_pie }}">
    </div>

    <div id="folliummap">
        {% include "folliummap.html" %}
    </div>

    <div>
        <img src="data:image/png;base64,{{ my_graph }}">
    </div>

</body>
</html>